/* ============================================= */
/*                Grid System                    */
/* ============================================= */



  // .grid-row
  .row {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    @media (min-width: $break-s) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .grid-col
  .col {

    // Dynamic Grid Columns 
    // Loop through each column
    @for $i from 1 through 12 {

      // Concatenation 
      &-#{$i} {

        // Base Styles for ALL Grid Columns
        margin-top: 10px;
        flex-basis: 100%;

      @media (min-width: $break-s) {
        
        // Base Styles for ALL Grid Columns
        margin-top: 0; 

        // Column As Width % 
        flex-basis: #{$i / 12 * 100 + "%"};
       }  
      }
    }
  }

// Targets ALL Elements w/ the Grid-Col Class
[class^=col] {

  // Grid-Col + Grid-Col 
  & + & {

    
    @media (min-width: $break-s) {
      
      // Grid Gutter
      margin-left: 10px;
    }
  }
}

.container {
  width: 90%;
  margin: 15px auto; 
}

// Grid-Col 3

.col-3 .theme-colors {
  @include grids; 
  background-color:#ddb2ed;
  @include breakpoints {
    flex-basis: 25%;
    @include desktop-grids;
  }
}

.col-4 .theme-colors {
  @include grids; 
  background-color: #7ee7fc;
  @include breakpoints {
    flex-basis: 32%;
    @include desktop-grids;
  }
}

.col-5 .theme-colors { 
  @include grids; 
  background-color: #89d99f;
  @include breakpoints {
    flex-basis: 40%;
    @include desktop-grids;
  }
}

.col-6 .theme-colors { 
  @include grids; 
  background-color: #40acc9;
  @include breakpoints {
    flex-basis: 50%;
    @include desktop-grids;
  }
}

.col-7 .theme-colors {
  @include grids;   
  background-color: #eba0a3;
  @include breakpoints {
    flex-basis: 60%;
    @include desktop-grids;
  }
}

.col-8 .theme-colors { 
  @include grids;  
  background-color: #fca086;
  @include breakpoints {
    flex-basis: 65%;
    @include desktop-grids;
  }
}

.col-12 {
  @include grids; 
  @include breakpoints {
    display: flex;
    justify-content: space-around;
  }
}

.col-12 .theme-colors {
  @include grids; 
  background-color: #81e6ce;
  @include breakpoints {
    @include desktop-grids;
  }
}